  /*STYLES GENERAUX*/
  * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
    font-weight: bold;
  }

  .switch{
    padding: 2%;
    position: relative;
    color: var(--font)
   }
   .switch1{
    position: relative;
    color: var(--font)
   }
 
 

header label input {
  display: inline-table;
position: relative;
margin-bottom: 30px;
}
  .TitreCV {
    color: #EA0;
  }
  :root {
    --font: rgb(20, 20, 20);
    --text: rgba(255, 255, 255, 0.788);
  }
  body{
    background-color: var(--font);
    color: var(--text);
  }
  p {
    font-size: 1em;
    line-height: 1.5em;
  }
  a {
    text-decoration: none;
    color: var(--text)
  }
  /*HEADER & FOOTER*/
  header {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px 0px;
    background: url("Assets/profile.webp") #4f4f4f;
    box-shadow: 0px 0px 15px #333;
    background-image: url(Assets/HeaderW.jpg);
    border-radius: 10px;
  }
  header h1 {
    color: var(--text);
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;

  }
  .Tcomp {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .comp3 {
    margin-left: auto;
  margin-right: auto;
  margin: 20px;
    width: 90%;
    height: 25%;
    display: inline-block;
    border-radius: 10px;
    

  }
  .comp4 {
    margin-left: auto;
  margin-right: auto;
    margin: 20px;
    width: 90%;
    height: 25%;
    display: inline-block;
    border-radius: 10px;
  }
  .comp4 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 25%;
    display: inline-block;
    border-radius: 10px;

  }
  .interet{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 10px;
  }
  footer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 10px;
    border-top: 2px solid var(--text);
  }
  footer p {
    width: 90%;
    margin: 0 auto;
    color: var(--text);
    text-align: center;
  }
  footer a {
    color: var(--text);;
  }
  /*SECTIONS*/
  section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px;
  }
  section h2 {
    margin: 20px 0;
    width: 90%;
    
  }
  section>div {
    width: 90%;
  }
  /*SECTION INFOS*/
  .photo {
    text-align: center;
  }
  .photo img {
    width: 150px;
    height: 150px;
    border: 3px solid #EA0;
    box-shadow: 0px 0px 10px #EA0;
    border-radius: 50%;
    margin-top: -80px;
  }
  .prez {
    border-bottom: 2px dashed;
  }
  .prez a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: var(--font);
    background-color: #EA0;
    box-shadow: 0px 0px 10px ;
    border-radius: 5px;
  }

  .contact-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .contact-flex p:first-child {
    flex: 0 0 40%;
  }
  .contact-flex p:last-child {
    flex: 0 0 60%;
  }
  .conteneur1 {
    overflow: hidden;
    max-width: 960px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px ;
  }
  .d1 {
    width: 3840px;
    height: 720px;
    background-image: url("https://www.pierre-giraud.com/wp-content/uploads/2019/07/diapo123.png");
    background-size: contain;
    animation: defilement1 12s linear infinite;
  }
  @keyframes defilement1 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(-2880px, 0);
    }
  }
  .conteneur2 {
    max-width: 960px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px ;
  }
  .d2 {
    width: 400%;
    height: 0;
    padding-top: 75%;
    background-image: url("https://www.pierre-giraud.com/wp-content/uploads/2019/07/diapo123.png");
    background-size: contain;
    animation: defilement2 12s linear infinite;
  }

  /* @keyframes tonext {
    75% {
      left: 0;
    }

    95% {
      left: 100%;
    }

    98% {
      left: 100%;
    }

    99% {
      left: 0;
    }
  }

  @keyframes tostart {
    75% {
      left: 0;
    }

    95% {
      left: -300%;
    }

    98% {
      left: -300%;
    }

    99% {
      left: 0;
    }
  } */

  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }

    97% {
      scroll-snap-align: none;
    }

    99% {
      scroll-snap-align: none;
    }

    100% {
      scroll-snap-align: center;
    }
  }
  body {

    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

  * {
    -ms-overflow-style: none;
  }
  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .contact-group {
    display: flex;
  }
  .carousel {
    position: relative;
    /* padding-top: 75%; */
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 10%;
    
  }
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: 10%;
   

  }
  .carousel__slide {
    position:relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: var(--text);
    counter-increment: item;
    text-align: center;
    background-color: white;
    border-color: white;
    
    
  }
  .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
 
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    text-align: center;
    
    /* padding-top: 60px; */
  }
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
      text-align: center;
      background-position: center;

    }
  }
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 2rem;

  }
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  .carousel__navigation-button {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background-clip: content-box;
    border: 0.30rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.3s;
    background-color: var(--text);
  }
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  
  }
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }

  /*centre d'interet*/

  .exp {
    display: inline;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 20px;
    margin-top: 10px;
}

.exp-logo {
  flex: 0 0 25%;
  max-width: 100px;
}



  /*groupe de carte compétence*/
  .card {
    margin-top:10%;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -03rem rgba(0, 0, 0, 0.45);
    padding-bottom:1rem;
   
    overflow: hidden;
  }
  img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
  }

  body {
    display: inline-block;
      width: 100%;
    place-content: center;
    justify-items: center;
    min-height: 100vh;
    margin-left: auto;
  margin-right: auto;
    padding: 1rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
      helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  }
  .card-wrapper {
    margin-left: auto;
  margin-right: auto;
    list-style: none;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 100vw;
    width: 120ch;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .progressB {
    margin: 5px;
    width: 98%;
        border-radius: 15px;
  }
  .SkillB {
    background-color: orangered;
    color: var(--text);
    padding: 2%;
    width: 80%;
    text-align: right;
    font-size: 15px;
        border-radius: 15px;
  }
  .progressB1 {
    margin: 10px;
    width: 98%;
        border-radius: 15px;
  }
  .SkillB1 {
    background-color: rgb(6, 135, 240);
    color: var(--text);
    padding: 2%;
    width: 80%;
    text-align: right;
    font-size: 15px;
        border-radius: 15px;
  }
  .progressB2 {
    margin: 10px;
    width: 98%;
        border-radius: 15px;
  }
  .SkillB2 {
    background-color: rgba(255, 238, 0, 0.795);
    color: var(--text);
    padding: 2%;
    width: 50%;
    text-align: right;
    font-size: 15px;
        border-radius: 15px;
  }
  .ImgC{
    position: relative;
    display: flex;
    perspective: 100px;
    width: 100%;
    object-fit: contain;
  }
.ctext{
  color: rgb(5, 104, 129);
  text-align: center;
}
.card p{
  font-weight: bold;
  text-align: center;
}
footer{
  width: 100%;
  background: url("Assets/profile.webp") #4f4f4f;
  box-shadow: 0px 0px 15px #333;
  background-image: url(Assets/HeaderW.jpg);
  height: 120px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin-top: 30px;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  border-color: #0003 ;
  border-radius: 10px;
}

footer p {
  position: relative;
  margin-top: 3%;
}