.building {
    width: 100px;
    height: 200px;
    background-color: grey;
    margin: 10px;
  }
  
  .building-1 {
    background-color: blue;
  }
  
  .building-2 {
    background-color: green;
  }
  
  .building-3 {
    background-color: red;
  }
  
  .road {
    width: 500px;
    height: 50px;
    background-color: black;
    margin: 10px;
  }